.btn {
    width: 200px; 
    margin-right: 10px;
    

}

.div-inline{
    display:inline-block;
}


.btnmenulist {
    height: 400px;
    overflow-y: scroll;
}

.defaulthide {
    display: none;
}